
.pic-body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../Assets/girlbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    width: 100%;
}

/* Navbar start */

.navbar-brand {
    margin-left: 148px;

}

.bs-logo {
    height: 60px;
}

.bg-offwhite {
    background-color: rgba(238, 238, 238, 0.7) !important;
    height: 60px;
}

.navbar-nav {
    font-size: 17px;
    margin-right: 130px;
}

.Singup {
    background-image: linear-gradient(to right, #474188, #9b00fb);
    padding: 4px;
}
.padding{
    padding-bottom:5px;
}
.nav-hover{
    transition: all .2s;
}
.nav-hover:hover{
    border-bottom: 4px solid #474188
}
/* Navbar end */

   /* Launch div Start */
.launch {
    height: 500px;
    width: 680px;
    background-color: transparent;
    color: white;
    margin-top: 140px;
    margin-left: 160px;
    font-family: "Open sans", sans-serif;
}

.LL {
    height: 35px;
    width: 160px;
    background-color: white;
    color: black;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
}
.LP-heading{
    font-weight: bold;
    font-size: 58px;
    letter-spacing: 2px;
    margin-top: 20px;
}
.card-lorem{
    font-size: 17px;
    margin-top: 10px;
    letter-spacing: 1px;
}
.vac-btn{
    height: 55px;
    width: 250px;
    font-weight: 500;
    border: none;
    border-radius: 10rem;
    text-transform: uppercase;
    font-size: 15px;
    background-image: linear-gradient(to right, #474188, #9b00fb);
}

   /* Launch End */
    
   /* 4card-div start */
.user-icon{
    font-size: 50px;
    margin-left: 20px;
    margin-top: 20px;
}
.card4-main{
    height: 800px;
    width: 100%;
    margin-top: 100px;
    background-color: white;
    /* margin-left: 200px; */
    
}
.card1{
    margin-top: 100px;
    height: 250px;
    border: none;
    border-radius: 15px;
    box-shadow: 0 1rem 4rem #ccc;
    transition: all .2s;
}
.card1:hover{
    transform: translateY(-1rem) scale(1.05);
    transition: all ease-in .3s;
}
.card4-div{
    display: flex;
    flex-direction: column;
    gap: 40px;
    color: #474188;
    margin-left: 160px;
    /* margin-top: 150px; */

}
.card-gradient{
    background-image: linear-gradient(to right, #474188, #9b00fb);
    color: white;
    border: none;
    border-radius: 15px;
    height: 250px;
    box-shadow: 0 1rem 4rem #ccc;
    transition: all .2s;

}
.card-gradient:hover{
    transform: translateY(-1rem) scale(1.05);
    transition: all ease-in .3s;
}
.card4-div1{
    margin-left: 35px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    color: #474188;
    
}
.card2{
    background-color: white;
    margin-top: 150px;
    height: 250px;
    border-radius: 15px;
    box-shadow: 0 1rem 4rem #ccc;
    transition: all .2s;

}
.card2:hover{
    transform: translateY(-1rem) scale(1.05);
    transition: all ease-in .3s;
}
.card3{
    background-color: white;
    height: 250px;
    border-radius: 15px;
    box-shadow: 0 1rem 4rem #ccc;
    transition: all .2s;
}
.card3:hover{
    transform: translateY(-1rem) scale(1.05);
    transition: all ease-in .3s;
}
.education-div{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #474188;
    margin-left: 40px;
    margin-top: 250px;
}
.wte{
    font-size: 50px;
    font-weight: bold;
}
.wte-para{
    width: 570px;
    font-size: 17px;
    letter-spacing: 1px;
}
   /* 4card-div End */


   /* Apple background div start */

   .apple-bg-div{
    background-image: linear-gradient(to right, rgba(71, 65, 136, 0.5), rgba(155, 0, 251, 0.5)), url(../Assets/apple\ background.jpg);
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 6rem;
   }
   .lap-text-div{
    margin: 0 auto;
    margin-top: -55px;
    flex-wrap: wrap;
    padding: 3rem 0rem;
    max-width: 1200px;
    gap: 7rem!important;
   }
   .laptext{
    width: 55%;
    height: auto;
   }
   .laptext-head{
    font-size: 3.75rem;
    font-weight: bold;
    letter-spacing: 1px;
   }
   .laptext-para{
    width: 94%;
    font-size: 17px;
   }   
   .laptop-img{
    width: 35%;
    height: 300px;
    background-image: url(../Assets/laptopimg.png);
    background-size: cover;
    background-repeat: no-repeat;
   }
   .playbutton{
    width: 150px;
    height: 150px;
    margin-left: 135px;
    margin-top: 40px;
   }

   /* Apple Background Div End */

   /* Student500 Div Start */

   .student500-div{
    width: 100%;
    height: auto;
    margin-top: -18rem;
    padding:6rem 0rem;
   }
   .tsc-cards{
    margin: 0 auto;
    height: auto;
    flex-wrap: wrap;
    padding: 3rem 0rem;
    max-width: 1200px;
    justify-content: space-between;
   }
   .teacher-card{
    flex-direction: column;
    padding: 1.5rem;
    width: 350px;
    height: 270px;
    background-color: #fff;
    box-shadow: 0 1rem 4rem #ccc;
    transition: all .3s;
    text-align: center;
    
   }
   .teacher-card:hover {
    transform: translateY(-1rem) scale(1.05);
}
.tc-head{
    font-size: 58px;
    font-weight: 700;
    color: #9b00fb;
}
.tc-line{
    width: 100%;
    height: 4px;
    background-color: #474188;
    color:#474188;
}
.tc-title{
    color: #474188;
    /* margin-top: 1rem; */
    font-size: 25px;
    font-weight: bold;
}
.tc-para{
    margin-top: 10px;
}
.Student-card{
    flex-direction: column;
    padding: 1.5rem;
    width: 350px;
    height: 270px;
    background-color: #fff;
    box-shadow: 0 1rem 4rem #ccc;
    transition: all .3s;
    text-align: center;
    background-image: linear-gradient(to right, #474188, #9b00fb);
    color:white
   }
   .Student-card:hover {
    transform: translateY(-1rem) scale(1.05);
}
.st-head{
    font-size: 58px;
    font-weight: 700;
}
.st-line{
    width: 50%;
    height: 4px;
    background-color: white;
}
.st-title{
    /* margin-top: 1rem; */
    font-size: 25px;
    font-weight: bold;
}
.st-para{
    margin-top: 10px;

}
     
/* Student500 Div Start */

   /* Clippy div 1 start */

   .clippy-div{
    width: 100%;
    height: auto;
    margin: 0 auto;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 3rem 0rem;
    max-width: 1200px;
   }
   .clipy-div1{
    width: 100%;
    height: auto;
    padding: 6rem 0rem;
    gap: 50px;
   }
   .clipy-content{
    width: 46%;
    height: auto;
    margin-top: 2rem;
    color: #474188;
   
   }
   .clipy-head{
    color: #474188;
    margin-top: 2rem;
    font-size: 52px;
    font-weight: bold;
    /* letter-spacing: 1rem; */
   }
   .clipy-para{
    font-size: 17px;
    margin-top: 1rem;
    width: 90%;
   }
   .rm-btn{
    height: 55px;
    width: 200px;
    border: none;
    font-weight: 500;
    border-radius: 10rem;
    text-transform: uppercase;
    font-size: 15px;
    margin-top: 40px!important;
    background-image: linear-gradient(to right, #474188, #9b00fb);
}
.clipy-img1{
width: 110%;
height: 400px;
border-radius: 160px 160px 0px 160px;

}
/* Clipy div 1 end */


/* Clipy div 2 start */

.clippy-div2{
    width: 100%;
    height: auto;
    margin: 0 auto;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 3rem 0rem;
    max-width: 1200px;
   }
   .clipy-div2{
    width: 100%;
    height: auto;
    padding: 6rem 0rem;
    /* gap: px; */
   }
   .clipy-content2{
    width: 46%;
    height: auto;
    margin-top: 1rem;
    color: #474188;
    margin-right: 50px;
   
   }
   .clipy-head{
    color: #474188;
    margin-top: 1rem;
    font-size: 52px;
    font-weight: bold;
    /* letter-spacing: 1rem; */
   }
   .clipy-para{
    font-size: 17px;
    margin-top: 1rem;
    width: 90%;
   }
   .rm-btn{
    height: 55px;
    width: 200px;
    border: none;
    font-weight: 500;
    border-radius: 10rem;
    text-transform: uppercase;
    font-size: 15px;
    margin-top: 40px!important;
    background-image: linear-gradient(to right, #474188, #9b00fb);
}
.clipy-img2{
width: 90%;
height: 400px;
border-radius: 160px 160px 0px 160px;
}


/* clipy div 2 End */

 /* Review div Start */

 .review-div{
    height: auto;
    width: 100%;
    background-color: #f4f2f2;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 6rem 0rem;
 }
 .review-head{
    font-size: 45px;
    font-weight: bold;
    color: #474188;
    text-decoration: underline;
 }
 .students-review{
    display: flex;
    justify-content: space-between;
    justify-content: center;
    width: 100%;
    height: auto;
    gap: 80px;
    margin-top: 80px;
 }
 .student1{
    width: 350px;
    height: 250px;
    border-radius: 70px 70px 70px 0px;
    background-image: linear-gradient(to right, #474188, #9b00fb);
    box-shadow: 0 1rem 4rem #ccc;
    transition: all .2s ;
    display: flex;
 }
 .student1:hover {
    transform: translateY(-1rem) scale(1.05);
}
.student-img{
    width: 30%;
    height: 250px;
    display: flex;
    align-items: self-start;
    justify-content: end;
}
.student-image{
    height: 80px;
    border: none;
    border-radius: 100px;
    margin-top: 30px;
}
.student-comment{
    width: 50%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    color: white;
    margin-left: 20px;
    gap: 20px;
}
.student-name{
    font-size: 20px;
    font-weight: bold;
}
.student2{
    width: 350px;
    height: 250px;
    border-radius: 70px 70px 70px 0px;
    background-image: linear-gradient(to right, #474188, #9b00fb);
    box-shadow: 0 1rem 4rem #ccc;
    transition: all .2s ;
    display: flex;
 }
 .student2:hover {
    transform: translateY(-1rem) scale(1.05);
}
.student3{
    width: 350px;
    height: 250px;
    border-radius: 70px 70px 70px 0px;
    background-image: linear-gradient(to right, #474188, #9b00fb);
    box-shadow: 0 1rem 4rem #ccc;
    transition: all .2s ;
    display: flex;
 }
 .student3:hover {
    transform: translateY(-1rem) scale(1.05);
}


/* Review div End */

/* Organization div start */

.organization-div{
    width: 100%;
    height: auto;
    padding: 6rem 0rem;
    display: flex;
    justify-content: space-between;
}
.organization-img{
    width: 55%;
    height: auto;
    display: flex;
    align-items: flex-start;
}
.organization-image{
    width: 88%;
    height: 400px;
    border-radius: 0px 200px 200px 0px;
}
.organization-content{
    width: 45%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.org-head{
    color: #474188;
    margin-top: 1rem;
    font-size: 52px;
    font-weight: bold;
    text-align: center;
}
.org-para{
    font-size: 17px;
    margin-top: 1rem;
    width: 75%;
    text-align: center;
    display: flex;
    align-self: flex-start;
}
.org-btn{
    height: 55px;
    width: 200px;
    border: none;
    font-weight: 500;
    border-radius: 10rem;
    text-transform: uppercase;
    font-size: 15px;
    margin-top: 40px!important;
    background-image: linear-gradient(to right, #474188, #9b00fb);
}
/* Organization div End */

/* Register div Start */

.register-div{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 6rem 0rem;
}
.register-now{
    height: 210px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #474188, #9b00fb);
    border-radius: 100px 100px 100px 100px;
}
.reg-content{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    width: 75%;
}
.register-text{
    font-size: 25px;
    font-weight: bold;
    color: white;
}
.reg-btn{
    height: 55px;
    width: 200px;
    border: none;
    font-weight: 500;
    border-radius: 10rem;
    text-transform: uppercase;
    font-size: 15px;
    /* margin-top: 40px!important; */
    background-color:  #474188;
}

/* Register div End */

/* News div start */

.news-div{
    width: 100%;
    height: auto;
    margin: 0 auto;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 3rem 0rem;
    max-width: 1200px;
   }
   .news-div1{
    width: 100%;
    height: auto;
    padding: 6rem 0rem;
    gap: 50px;
   }
   .news-content{
    width: 46%;
    height: auto;
    margin-top: 2rem;
    color: #474188;
   
   }
   .news-head{
    color: #474188;
    margin-top: 2rem;
    font-size: 52px;
    font-weight: bold;
    /* letter-spacing: 1rem; */
   }
   .news-para{
    font-size: 17px;
    margin-top: 1rem;
    width: 90%;
   }
   .news-btn{
    height: 55px;
    width: 200px;
    border: none;
    font-weight: 500;
    border-radius: 10rem;
    text-transform: uppercase;
    font-size: 15px;
    margin-top: 40px!important;
    background-image: linear-gradient(to right, #474188, #9b00fb);
}
.news-img1{
width: 110%;
height: 400px;
border-radius: 160px 160px 0px 160px;
}


/* News div End */

/* Subscribe div start */

.subscribe-div{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    background-color: #474188;
    width: 100%;
    height: 400px;
}
.bs-div{
    color: white;
    width: 20%;
    height: auto;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    margin-top: 50px;
}
.lorem{
    width: 83%;
}

.about-div{
    width: 20%;
    height: auto;
    margin-top: 50px;
    color: white;

}
.about-head{
    font-size: 35px;
    font-weight: 500px;
    margin-left:30px;
}
.about-ul{
    width: 100%;
    font-weight: 500;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.about-hover{
    transition: all .2s;
}
.about-hover:hover{
    width: 50px;
    border-bottom: 4px solid #9b00fb;
}
.about-hover1{
    transition: all .2s;
}
.about-hover1:hover{
    width: 135px;
    border-bottom: 4px solid #9b00fb;
}
.search-div{
    width: 20%;
    height: auto;
    display: flex;
    flex-direction: column;
    color: white;
    gap: 20px;
    justify-content: center;
    margin-top: 50px;
}
.search-head{
    font-size: 35px;
    font-weight: 500px;
}
.search-input{
    display: flex;
    flex-direction: column;
}
.search-bar{
    width: 250px;
    height: 40px;
    border-radius: 50px 50px 50px 50px;
    border: none;
}
.search-btn{
    height: 40px;
    width: 100px;
    border: none;
    font-weight: 500;
    border-radius: 10rem;
    text-transform: uppercase;
    font-size: 15px;
    margin-top: 10px!important;
    background-color: #9b00fb;
}
.search-lorem{
    width: 80%;
}
 
  /* Search div End */

  /* Copyright div start */

  .copyright-div{
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* Copyright div End */
